<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Donde me gustaria trabajar en 5 años?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Me veo trabajando definitivamente en la rama tecnologica, adoro el diseño web, me gustaria crecer como diseñador hasta llegar a Senior Front-End Web Designer. Y definitivamente me encanta el trabajo en equipo y la retroalimentación que esto representa para cada integrante, asi que decididamente me veo en 5 años como parte de un equipo de diseño o a cargo de uno. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Como te consideras como persona?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Soy una persona muy intensa, pro-activo, muy sociable, valoro mucho la humilda y siempre trato de escuchar a todos, soy sincero, objetivo, responsable, soy un soñador nato y me considero una persona muy agradecida de las oportunidades que nos da la vida.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Que es lo que mas valoras?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Para mi lo mas importante en el mundo son los valores humanos, el respeto y la respondabilidad son los principales pilares de todo en la sociedad. En mi orden de prioridades lo primero y lo mas grande en mi vida es mi familia.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿En que proyectos has trabajado?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          He trabajado principalmente en proyectos personales, ejemplo mi propia web portfolio en la cual me enfoco casi a diario debido a que para mi es un proyecto que representa lo que soy y como soy, por tanto siempre deseo que este optima, actulizada y que pueda captar en cierto modo la atención del que la visite. Posteriormente he trabajdo en diseños gráficos en la web (99designs), creando logotipos e isotipos, proyectos de marcas, y sobre todo perfeccionando mis conocimientos de diseño y mejorando mis habilidades. Actualmente trabajo en el diseño de la marca y en la pagina web de una Sociedad para la cual trabaje hace un año, admiro mucho su labor y me estoy esforzando mucho por dar lo mejor de mi para entregar un trabajo creativo que sobrepase las espectativas de mis clientes.
        </div>
      </div>
    </div>
  </div>