<div class="accordion mt-5" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Donde me gustaría trabajar en 5 años?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Me gustaría trabajar definitivamente en tecnología y medios de comunicacion. Quiero crecer como diseñador hasta llegar a Senior Front-End Developer; me gusta el trabajo en equipo y la retroalimentación que nos aporta, por lo cual me veo en 5 años como parte de un equipo de diseño que este dispuesto a cambiar el mundo con cada proyecto que emprenda.. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Que tipo de persona eres?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Soy un chico muy apasionado, pro-activo, muy sociable, valoro mucho la humildad y siempre trato de escuchar a todos. Trato siempre de ser muy sincero, objetivo y responsable; además soy una persona muy agradecida de las oportunidades que me da la vida.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Que es lo que más valoras?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Lo más importante en el mundo son los valores humanos, el respeto y la respondabilidad. Estos son los principales pilares de todo en la sociedad, Y lo más importante para mi es la familia.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿En que proyectos has trabajado?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          He trabajado principalmente en proyectos personales; mi propio portfolio en la cual me enfoco casi a diario, ya que refleja lo que soy y lo que hago; posteriormente he trabajdo en diseños gráficos en la web (99designs), creando logotipos e isotipos, proyectos de marcas y sobre todo perfeccionando mis conocimientos de diseño.  
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <img src="../../../assets/imagenes/google_me.jpg" class="img-fluid rotate-scale-up-diag-1" alt="Jorge Enrique">
  </div>

