<div class="container-footer">
  <a href="https://twitter.com/jtejero8" target= "_blank" class="badge badge-primary m-5">twitter</a>
  <a href="mailto:jotejero@ucm.es" target= "_blank" class="badge badge-success m-5">mail</a>
  <a href="https://instagram.com/jtejero8" target= "_blank" class="badge badge-danger m-5">instagram</a>
  <a href="https://facebook.com/jorgeenriquetejeroleyva" target= "_blank" class="badge badge-info m-5">facebook</a>
  <a href="https://github.com/jtejero8" target= "_blank" class="badge badge-dark m-5">github</a>
</div>
