<div class="container-footer float-md-left float-sm-left">
  <div class="alert alert-primary" role="alert">
        Me encantaria que conocieras más sobre mi. Puedes conocer más sobre mi trabajo en mis redes. No dudes en contactarme y hacerme saber tu opinión ya que es muy importante para mi!
  </div>
  <div class="redes">
    <a href="https://twitter.com/jtejero8" target= "_blank" class="btn btn-primary btn-lg m-4">twitter</a>
    <a href="mailto:jotejero@ucm.es" target= "_blank" class="btn btn-outline-success btn-lg m-4">mail</a>
    <a href="https://instagram.com/jtejero8" target= "_blank" class="btn btn-danger btn-lg m-4">instagram</a>
    <a href="https://facebook.com/jorgeenriquetejeroleyva" target= "_blank" class="btn btn-info btn-lg m-4">facebook</a>
    <a href="https://github.com/jtejero8" target= "_blank" class="btn btn-dark btn-lg m-4">github</a>
    <a href="https://behance.net/jorgeetejero" target= "_blank" class="btn btn-outline-primary btn-lg m-4">Behance</a>
  </div>
</div>

