<div class="conteiner-about">
  <div class="jumbotron bg-white">
    <img src="../../../assets/imagenes/portada-SPA.png" class="img-fluid" alt="Responsive image">
    <h1 class="display-4">Hola, Soy Jorge Enrique</h1>
    <p class="lead"> Me encanta el diseño web, diseño gráfico y la modelación ingenieril.
      Tengo amplias habilidades en HTML5, CSS3, JavaScript, Photoshop, Sketch. Además conocimientos básico en Angular, Git & GitHub, Jquery, Flexbox, Sass, Bootstrap.
      Soy un joven curioso, proactivo y con pasión por aprender tanto como pueda.</p>
    <hr class="my-4">
    <p>Mi objetivo es hacer del mundo un lugar mejor siendo parte de la transformación digital con creatividad, esfuerzo y una sonrisa.</p>
    <a class="btn btn-primary btn-lg" href="#/about" role="button">Más sobre mi!</a>
  </div>
</div>

<!--
  hello my name is Jorge Enrqiue
  I love Web design, graphic design and engineering modeling.
  I have extensive skills in HTML5, CSS3, JavaScript, Photoshop, Sketch. Besides basic knowledge in Angular, Git & GitHub, Jquery, Flexbox, Sass, Bootstrap.
  I am a curious, proactive young man with a passion to learn as much as I can. I find pleasure in excellence and I consider myself an objective person.
  My goal is to make the world a better place by being part of the digital transformation with creativity, effort and a smile.
  more about me
-->