<app-loading *ngIf="loading"></app-loading>

<div class="conteiner-about">
  <div class="jumbotron bg-white mt-5">
    <!--
          <img src="../../../assets/imagenes/5a269f77-e806-4a83-b89a-430cc24e44be.jpg" class="img-fluid yo" alt="Responsive image">

      -->
    <img src="../../../assets/imagenes/portada-SPA.png" class="img-fluid portfolio" alt="Responsive image">

    <h1 class="display-5 ">Hola, Soy Jorge Enrique</h1>
    <p class="lead">Soy un joven curioso, proactivo y me considero un eterno estudiante. Me apasiona el diseño y la programación y
      tengo amplias habilidades en HTML5, CSS3, JavaScript, Sketch; además conocimientos en Angular, Git & GitHub, PHP, Flexbox, Sass, Bootstrap, entre otros.
      </p>
    <hr class="my-4">
    <p>Mi objetivo es hacer del mundo un lugar mejor siendo parte de la transformación digital con creatividad, esfuerzo y una sonrisa.</p>
    <a class="btn btn-primary btn-lg" href="#/about" role="button">Más sobre mí!</a>
  </div>
</div>

<!--
  hello my name is Jorge Enrqiue
  I love Web design, graphic design and engineering modeling.
  I have extensive skills in HTML5, CSS3, JavaScript, Photoshop, Sketch. Besides basic knowledge in Angular, Git & GitHub, Jquery, Flexbox, Sass, Bootstrap.
  I am a curious, proactive young man with a passion to learn as much as I can. I find pleasure in excellence and I consider myself an objective person.
  My goal is to make the world a better place by being part of the digital transformation with creativity, effort and a smile.
  more about me
-->