<app-loading *ngIf="loading"></app-loading>

<div class="conteiner-about mt-5">
    <!--
          <img src="../../../assets/imagenes/5a269f77-e806-4a83-b89a-430cc24e44be.jpg" class="img-fluid yo" alt="Responsive image">

      -->
    <img src="../../../assets/imagenes/Tablet.png" class="img-fluid portfolio w-100 mt-4" alt="Responsive image">
</div>

<div class="conteiner-about">
  <div class="jumbotron bg-white mt-2">
    <!--
          <img src="../../../assets/imagenes/5a269f77-e806-4a83-b89a-430cc24e44be.jpg" class="img-fluid yo" alt="Responsive image">

      
    <img src="../../../assets/imagenes/Tablet.png" class="img-fluid portfolio" alt="Responsive image">
    -->

    <h1 class="display-5">Hola, Soy Jorge Tejero</h1>
    <p class="lead">Soy un joven diseñador web, curioso y proactivo desarrollador, me considero eterno estudiante. Apasionado del diseño UX/UI, de la programación y
      actualmente con amplias habilidades en HTML5, CSS3, JavaScript, python, git, Sketch; además de conocimientos en Angular, React, php, Flexbox, Sass, Bootstrap, entre otros. Y con un grupo de amigos he creado la compañía DESIGNETL, para ayudar a emprendedores y negocios con sus paginas webs, y sus campañas de marketing online.
      </p>
    <hr class="my-4">
    <p>Nuestro objetivo es hacer del mundo un lugar mejor siendo parte de la transformación digital con creatividad, esfuerzo y una sonrisa.</p>
    <a class="btn btn-primary btn-lg" href="#/about" role="button">Más sobre mí!</a>
  </div>
</div>

<div class="container mb-5">

  <div class="row row-cols">

    <div class="card col-6">
      <img src="../../../assets/imagenes/avanzarts.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Asesoría</h5>
          <p class="card-text">Parte del trabajo que me apasiona de ser diseñador y programador es el poder enseñar, ayudar e impulsar a las personas a cumplir sus sueños, no dudes en saber mas sobre como puedo ayudarte a ti o a tu negocio a ser parte de este gran mundo digital.</p>
          <a href="https://avanzarts.com" target=_blank class="btn btn-primary">Contactar</a>
        </div>
    </div>



    <div class="card col-6">
      <img src="../../../assets/imagenes/error.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trabajos</h5>
         <p class="card-text">Cada trabajo que realizo lleva el 200% de mi atención, esfuerzo y dedicación, cada cliente y diseño que hago tiene un tiempo único que no se repetira y por tanto cada reto nuevo merece la pena. No hay trabajo pequeño, contactame y dejame crear para ti.</p>
         <a href="#/trabajos" class="btn btn-primary">Diseños</a>
        </div>
    </div>

  </div>
</div>



<!--
  hello my name is Jorge Enrqiue
  I love Web design, graphic design and engineering modeling.
  I have extensive skills in HTML5, CSS3, JavaScript, Photoshop, Sketch. Besides basic knowledge in Angular, Git & GitHub, Jquery, Flexbox, Sass, Bootstrap.
  I am a curious, proactive young man with a passion to learn as much as I can. I find pleasure in excellence and I consider myself an objective person.
  My goal is to make the world a better place by being part of the digital transformation with creativity, effort and a smile.
  more about me
-->