<app-loading *ngIf="loading"></app-loading>

<div class="container-doc m-3">
    <div class="card-columns">
        <div class="card">
          <img src="../../../assets/works/Card-1.0.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto de Mock-up</h5>
            <p class="card-text">Desarrollo de un Mock-up personalizado para mi propia marca, herramienta utilizada (Sketch).</p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>"Diseño es donde la ciencia y el arte llegan a un punto de equilibrio" </p>
            <footer class="blockquote-footer text-white">
              <small>
                <cite title="Source Title">Robin Mathew</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img src="../../../assets/works/Meadow Club.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Proyecto de Isologo Meadow Club</h5>
            <p class="card-text">Proyecto realizado en un concurso para la marca, la cual buscaba un logo mas moderno y que reflejara parte de la relación con la naturaleza.</p>
            <p class="card-text"><small class="text-muted">Diseño</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>"El diseño es un plan para ordenar elementos de la mejor manera posible para llevar a cabo un propósito particular" </p>
            <footer class="blockquote-footer text-white">
              <small>
                <cite title="Source Title">Charles Eames</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        
        <div class="card p-6">
            <div class="card">
              <img src="../../../assets/works/new-one.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Proyecto de web de Viajes.</h5>
              <p class="card-text">Proyecto personal de una web de busqueda de viajes baratos y potencialmente interesantes para los que desean encontrarse a si mismos fuera de la rutina diaria.</p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  <cite title="Source Title">Diseño</cite>
                </small>
              </footer>
            </div>
        </div>

        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Diseño gráfico en 99desings</h5>
            <p class="card-text">Trabajos y proyectos en la comunidad de diseño 99designs, donde puedo crear y ayudar a desarrollar ideas de todo tipo para marcar que lo necesitan.</p>
            <p class="card-text"><small class="text-muted">https://99designs.es/profiles/3697981</small></p>
          </div>
        </div>
       
        <div class="card">
          <div class="card-body">
            <div class="card">
              <img src="../../../assets/works/soluna 2.0.png" class="card-img-top" alt="...">
            </div>
            <h5 class="card-title">Proyecto de Imagotipo Soluna</h5>
            <p class="card-text">Proyecto realizado para la marca, el cliente buscaba una inmersion de los dos objetos, que fuera colorido para un poster y que pudiera ajustarse para una camiseta.</p>
            <p class="card-text"><small class="text-muted">Diseño</small></p>
          </div>
        </div>

        <div class="card p-6">
            <div class="card">
              <img src="../../../assets/works/ux design.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Proyecto de web sobre Ux design.</h5>
              <p class="card-text">Proyecto de una web de un diseñador UX, donde podra exponer su trabajo, mostrar su talento y llegar con sus diseños a su publico objetivo. </p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  <cite title="Source Title">Diseño</cite>
                </small>
              </footer>
            </div>
          </div>

          <div class="card p-6">
              <div class="card">
                <img src="../../../assets/works/portafolio-X.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Proyecto de Portfolio-Web.</h5>
                <p class="card-text">Portfolio web para un cliente-X, donde se buscaba exponer su informacion personal y los trabajos realizados con una breve descripcion.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Diseño</cite>
                  </small>
                </footer>
              </div>
            </div>
        
        <div class="card p-6">
          <div class="card">
            <img src="../../../assets/works/valores logo 3.0.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Proyecto de Isologo Nermuth Advanced.</h5>
            <p class="card-text">Isologo de la marca, el cliente buscaba representar seguridad, con un toque moderno. La corona buscaba transmitir su gran poderio y control sobre la actividad a desarrollar.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <cite title="Source Title">Diseño</cite>
              </small>
            </footer>
          </div>
        </div>

        <div class="card p-6">
            <div class="card">
              <img src="../../../assets/works/house-search.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Proyecto de web House-search.</h5>
              <p class="card-text">Web diseñada para buscar las mejores ofertas de alquileres y ventas en europa. Se buscaba trasmitir transparencia y pureza, dandole un toque moderno.</p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  <cite title="Source Title">Diseño</cite>
                </small>
              </footer>
            </div>
        </div>
      </div>
</div>
