/* You can add global styles to this file, and also import other style files */


body{
    background: url(../src/assets/background/photo-1483959651481-dc75b89291f1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}